<% provide :title, t("new_user.sign_up") %>
<h1><%= t("new_user.sign_up") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :birthday %>
        <%= f.date_field :birthday, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :gender, t("activerecord.attributes.user.gender") %>
        <%= f.select :gender, gender_options(@user.gender),
              { prompt: t("users.gender.select") },
              { class: "form-control", required: true } %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation") %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit t("new_user.create_my_account"), class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
