<% provide(:title, t("microposts.all_microposts")) %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4"><%= t("microposts.all_microposts") %></h1>
      <% if @microposts.any? %>
        <div class="microposts">
          <% @microposts.each do |micropost| %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <%= micropost.user.name if micropost.user %>
                    </h6>
                    <p class="card-text"><%= micropost.content %></p>
                    <small class="text-muted">
                      <%= t("microposts.posted_ago", time: time_ago_in_words(micropost.created_at)) %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="alert alert-info">
          <%= t("microposts.no_microposts") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
